.artiste {
  &--header {
    height: 45vw;
    position: relative;
    max-width: 1440px;
    margin: auto;
    &:before {
      content: '';
      width: 20vw;
      height: 8vw;
      background-color: $orange;
      position: absolute;
      top: 12vw;
      left: 0;
    }
    &:after {
      content: '';
      width: 10vw;
      height: 20vw;
      background-color: $orange;
      position: absolute;
      right: 28vw;
      bottom: 0;
    }
    &--name {
      position: absolute;
      left: 12vw;
      top: 0;
      bottom: 0;
      color: $dark;
      height: fit-content;
      line-height: 61px;
      margin: auto;
      text-transform: uppercase;
      width: fit-content;
      z-index: 2;
    }
    &--thumbnail {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 35vw;
      z-index: 1;
    }
  }
}