.artiste {
  &--header {
    height: 80vh;
    position: relative;
    max-width: 1440px;
    margin: auto;
    &:before {
      content: '';
      width: 300px;
      height: 132px;
      background-color: $orange;
      position: absolute;
      top: 25%;
      left: 0;
    }
    &:after {
      content: '';
      width: 201px;
      height: 464px;
      background-color: $orange;
      position: absolute;
      right: 30%;
      bottom: 0;
    }
    &--name {
      position: absolute;
      left: 25%;
      top: 0;
      bottom: 0;
      color: $dark;
      font-size: 52px;
      font-weight: bold;
      height: fit-content;
      line-height: 61px;
      margin: auto;
      text-transform: uppercase;
      width: fit-content;
      z-index: 2;
    }
    &--thumbnail {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
    }
  }
}