.btn {
  width: 153px;
  font-size: 16px;
  line-height: 19px;
  color: $light;
  background-color: $dark;
  text-decoration: none;
  padding: 15px 15px;
  display: flex;
  &--dash {
    width: 15%;
    height: 0px;
    margin-left: 0;
    transition: all 250ms ease-in-out;
  }
  &:hover {
    .btn--dash {
      transition: all 250ms ease-in-out;
      width: 25%;
    }
  }
}

.link {
  color: $dark;
  font-weight: bold;
  text-decoration: none;
  &:after {
    border-bottom: 3px solid $light;
    content: "";
    display: block;
    margin: 0.25em auto 0;
    transition: width 250ms ease-in-out 0s;
    width: 0;
  }
  &:hover:after {
    transition: width 100ms ease-in-out 0s;
    width: 75%;
  }
}