.contact--form {
  &--title {
    color: $orange;
    float: left;
    font-size: 34px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
  }
  &--body {
    input {
      border: none;
      height: 30px;
      margin-bottom: 15px;
      width: 345px;
    }
    textarea {
      border: none;
      height: 60px;
      width: 345px;
    }
    .btn {
      align-items: center;
      border: none;
      cursor: pointer;
      background-color: $orange;
      height: 44px;
      margin-left: auto;
      margin-right: 50px;
      width: 95px;
    }
    .ajax-loader {
      position: absolute !important;
      bottom: 35px;
    }
  }
}