#loading {
  background-color: $orange;
  display: block;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .progress-bar__container {
    width: 80%;
    height: 2rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px $yellow;
  }

  .progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background-color: $yellow;
    top:0;
    bottom: 0;
    left: -100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
  }

  .progress-bar__text {
    display: none;
  }
  .audio-wrapper {
    display: flex;
    align-items: flex-end;
    height: 35px;
    transform: scale(2.5);
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 35px);
    &:before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
      color: white;
      font-weight: bold;
    }
  }
  [class^='bar bar-'] {
    background-color: #edbbb2;
    width: 4px;
    margin: 0 1px;
    border-radius: 3px;
    &.bar-3 {
      background-color: white;
    }
  }

  // WITHOUT RANDOM ---------
  .regular [class^='bar bar-'] {
    animation: lineWave 0.6s both infinite alternate;
  }
  @keyframes lineWave {
    from {
      height: 5px;
    }
    to {
      height: 20px;
    }
  }
  @for $i from 2 through 5 {
    $delay: 0.15 * $i - 0.1;
    .regular .bar-#{$i} {
      animation-delay: #{$delay}s;
    }
  }
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: $orange;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}