#template-homepage {
  .page {
    &--content {}
    &--body {
      position: initial;
      width: 100%;
      &--thumbnail {
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: -1;
      }
    }
  }
}