@import "colors";
@import "fonts";
@import "button";
@import "header";
@import "footer";
@import "slide";
@import "contact";
@import "grid";
@import "preloader";
@import "animation";

// Block Guten
@import "block-guten/block-spotify";
@import "block-guten/social-network";
@import "block-guten/text-media";
@import "block-guten/playlist";

// Template
@import "artiste";
@import "templates/template-homepage";
@import "templates/template-intial";
@import "templates/template-membre";
@import "templates/template-projects";

html {
  overflow-x: hidden;
}

body {
  margin: auto;
}

.content {
  margin: auto;
  max-width: 1330px;
}