#template-initial {
}

.article {
  &--content {
    &--banner {
      min-height: 400px;
      height: 30vw;
      position: relative;
      &--title {
        color: $orange;
        margin: auto;
        position: relative;
        z-index: 1;
        top: 50%;
        left: 25%;
      }
      &--thumbnail {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
      }
    }
    &--body {
      .wp-block-group {
        max-width: 1330px;
        margin: auto;
        padding: 3vw 5vw;
      }
    }
  }
}