.wp-playlist.wp-audio-playlist {
  background-color: $grey-2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding-top: 5vw;
  position: relative;
  width: calc(100% - 20vw);
  .wp-playlist-current-item {
    overflow: inherit;
    width: 100%;
    img {
      height: 28vw;
      margin: auto;
      max-width: initial;
      position: absolute;
      bottom: -4vw;
      left: -5vw;
      top: 0;
      width: auto;
      z-index: 8;
    }
  }
  .wp-playlist-caption {
    max-width: 100%;
    &:before {
      content: '';
      background-color: $orange;
      height: 10vw;
      position: absolute;
      width: 5vw;
      z-index: 9;
    }
  }
  .wp-playlist-item-album {
    color: $light;
    font-style: normal;
    font-weight: bold;
    font-size: 3vw;
    line-height: 3vw;
    margin: 0.5vw auto auto 3vw;
    max-width: 35vw;
    position: relative;
    text-transform: uppercase;
    white-space: break-spaces;
    z-index: 10;
  }
  .mejs-container {
    align-items: center;
    background: #F26E50;
    border-radius: 50%;
    display: flex;
    height: 20vw !important;
    justify-content: center;
    margin-top: 10vw;
    margin-right: 0;
    margin-bottom: 10vw;
    margin-left: 26vw;
    width: 20vw !important;
    z-index: 10;
    .mejs-inner {
      width: 19vw;
      height: 19vw;
      background: radial-gradient(133.73% 133.73% at 50% 50%, #0D0D0D 0%, rgba(13, 13, 13, 0) 100%);
      border: 2px solid rgba(13, 13, 13, 0.5);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mejs-mediaelement,
    .mejs-layers {
      display: none;
    }
    .mejs-controls {
      display: contents;
      .mejs-playpause-button {
        background: $orange;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vw;
        width: 5vw;
        &:after {
          content: '';
          width: 13vw;
          height: 0;
          border-bottom: 2px solid $light;
          display: inline-block;
          margin-bottom: 4px;
          position: absolute;
          right: -7vw;
        }
      }
      .mejs-time,
      .mejs-time-rail,
      .mejs-volume-button,
      .mejs-horizontal-volume-slider {
        display: none;
      }
    }
  }
  .wp-playlist-tracks {
    margin: auto auto auto 8vw;
    z-index: 1;
    .wp-playlist-item {
      border-bottom: none;
      &.wp-playlist-playing {
        background: none;
        .wp-playlist-caption {
          color: $light !important;
          &:before {
            width: 2vw;
            transition: width 100ms ease-in-out 0s;
          }
        }
      }
      .wp-playlist-caption {
        align-items: center;
        display: flex;
        color: #595859;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-bottom: 2px solid $light;
          display: inline-block;
          margin-right: 10px;
          position: relative;
          transition: width 250ms ease-in-out 0s;
        }
        .wp-playlist-item-title {
          font-weight: bold;
          font-size: 1.4vw;
          line-height: 2vw;
          overflow: initial;
          text-transform: uppercase;
        }
      }
    }
  }
}