.lakrypte--block--rs {
  padding: 45px 15px 35px;
  &--content {
    text-align: center;
    .title {
      margin: auto;
    }
    &--list {
      margin-top: 20px;
      &--item {
        margin: auto 7px;
        .dashicons {
          color: $light;
          font-size: 30px;
          height: auto;
          text-decoration: none;
          width: auto;
          &:after {
            border-bottom: 3px solid $light;
            content: "";
            display: block;
            margin: 0.25em auto 0;
            transition: width 250ms ease-in-out 0s;
            width: 0;
          }
          &:hover:after {
            transition: width 100ms ease-in-out 0s;
            width: 75%;
          }
          &-facebook-alt {
            &:hover {
              color: #3b5998;
            }
            &:after {
              border-bottom-color: #3b5998;
            }
          }
          &-instagram {
            &:hover {
              color: #bc1888;
            }
            &:after {
              border-bottom-color: #bc1888;
            }
          }
          &-youtube {
            &:hover {
              color: #c4302b;
            }
            &:after {
              border-bottom-color: #c4302b;
            }
          }
          &-spotify {
            &:hover {
              color: #81b71a;
            }
            &:after {
              border-bottom-color: #81b71a;
            }
          }
          &-soundcloud {
            &:hover {
              color: #ff7700;
            }
            &:after {
              border-bottom-color: #ff7700;
            }
          }
        }
      }
    }
  }
}