.lakrypte--block--text--media {
  min-height: 45vw;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20vw;
  &--background {
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    height:100%;
    object-fit: cover;
  }
  &--content {
    max-width: 25vw;
    .title {
      text-transform: uppercase;
      &:before {
        content: '';
        background: $orange;
        display: block;
        height: 15vw;
        position: absolute;
        width: 8vw;
        z-index: -1;
        left: 15vw;
        top: 3vw;
      }
    }
    .btn {
      margin-top: 3vw;
    }
  }
}