html {
  color: #f0f0f0;
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 5vw;
  line-height: 5vw;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 2.5vw;
  font-family: "Oswald", sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  font-family: "Oswald", sans-serif;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-family: "Oswald", sans-serif;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", sans-serif;
}

p {
  font-size: 1.1vw;
  line-height: 1.3vw;
}

.btn {
  width: 11vw;
  font-size: 1.2vw;
  line-height: 1.2vw;
  color: #f0f0f0;
  background-color: #0D0D0D;
  text-decoration: none;
  padding: 1vw;
  display: flex;
}
.btn--dash {
  width: 15%;
  height: 0px;
  margin-left: 0;
  transition: all 250ms ease-in-out;
}
.btn:hover .btn--dash {
  transition: all 250ms ease-in-out;
  width: 25%;
}

.link {
  color: #0D0D0D;
  font-weight: bold;
  text-decoration: none;
}
.link:after {
  border-bottom: 3px solid #f0f0f0;
  content: "";
  display: block;
  margin: 0.25em auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}
.link:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 75%;
}

.header {
  background-color: transparent;
  position: fixed;
  left: 0;
  z-index: 999;
}
.header .wrapper {
  display: flex;
  height: 100px;
  align-items: center;
}
.header--logo {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 225px;
}
.header--logo--link {
  color: #0D0D0D;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;
}
.header--nav {
  background-color: #0D0D0D;
  color: #f0f0f0;
  height: 100%;
}
.header--nav--list {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header--nav--list--item {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  transition: 0.4s;
}
.header--nav--list--item--link {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  padding: 0 25px;
  width: max-content;
  color: #f0f0f0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.header--nav--list--item--link:after {
  border-bottom: 3px solid #f0f0f0;
  content: "";
  display: block;
  margin: 0.25em auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}
.header--nav--list--item--link:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 75%;
}

#footer .footer--on {
  display: flex;
  height: 380px;
}
#footer .footer--on .on--footer {
  width: 25%;
}
#footer .footer--on .on--footer .wp-block-image {
  margin: 0;
  height: 100%;
}
#footer .footer--on .on--footer .wp-block-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#footer .footer--body {
  position: relative;
  display: flex;
}
#footer .footer--body--left, #footer .footer--body--right {
  height: 270px;
  width: 100%;
  display: flex;
  align-items: end;
}
#footer .footer--body--left {
  background-color: #F26E50;
  max-width: 350px;
  justify-content: end;
}
#footer .footer--body--left--title {
  margin-right: 25px;
}
#footer .footer--body--center {
  align-items: center;
  background-color: #0D0D0D;
  display: flex;
  height: 300px;
  margin: auto;
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  top: -130px;
}
#footer .footer--body--center .footer--widget {
  text-align: center;
  width: 25%;
}
#footer .footer--body--center .footer--widget:last-child {
  width: 50%;
}
#footer .footer--body--center .footer--widget .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#footer .footer--body--center .footer--widget .menu-item {
  margin-bottom: 10px;
}
#footer .footer--body--center .footer--widget .menu-item a {
  color: #f0f0f0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}
#footer .footer--body--center .footer--widget .menu-item a:after {
  border-bottom: 3px solid #f0f0f0;
  content: "";
  display: block;
  margin: 0.25em auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}
#footer .footer--body--center .footer--widget .menu-item a:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 75%;
}
#footer .footer--body--right--content {
  color: #0D0D0D;
  margin: 25px;
  width: 100%;
  display: block;
  text-align: center;
}
#footer .footer--body--right--content--copyright {
  display: inline-block;
}
#footer .footer--body--right--content--dev {
  display: inline-block;
  float: right;
}
#footer .footer--body--right--content--dev .link {
  color: #0D0D0D;
  display: inline-block;
}
#footer .footer--body--right--content--dev .link:after {
  border-bottom-color: #0D0D0D;
}

#slide--artistes {
  --page: 0;
  bottom: 50px;
  overflow-x: clip;
  position: absolute;
  right: 0;
  width: 100%;
}
#slide--artistes .slide--artistes--buttons {
  display: flex;
  justify-content: end;
}
#slide--artistes .slide--artistes--button {
  background: #F26E50;
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 5vw;
}
#slide--artistes .slide--artistes--button:after, #slide--artistes .slide--artistes--button:before {
  position: absolute;
  margin-left: -0.25vw;
  pointer-events: none;
  -webkit-transform: scale(0.75, 1.5);
  transform: scale(0.75, 1.5);
  transition: 125ms ease-in-out;
}
#slide--artistes .slide--artistes--button:before {
  left: 50%;
  top: 50%;
  margin-top: -10px;
}
#slide--artistes .slide--artistes--button:after {
  opacity: 0;
  top: 50%;
  margin-top: -10px;
}
#slide--artistes .slide--artistes--button:hover:before, #slide--artistes .slide--artistes--button:hover:after {
  transition: 250ms ease-in-out;
}
#slide--artistes .slide--artistes--button:hover:before {
  opacity: 0;
}
#slide--artistes .slide--artistes--button:hover:after {
  left: 50% !important;
  opacity: 1;
}
#slide--artistes .slide--artistes--button#next {
  opacity: calc(1.5 - var(--page));
}
#slide--artistes .slide--artistes--button#next:before, #slide--artistes .slide--artistes--button#next:after {
  content: ">";
}
#slide--artistes .slide--artistes--button#next:after {
  left: 30%;
}
#slide--artistes .slide--artistes--button#next:hover:before {
  left: 70%;
}
#slide--artistes .slide--artistes--button#prev {
  opacity: calc(var(--page) + 0.5);
  transition: 500ms opacity;
}
#slide--artistes .slide--artistes--button#prev:before, #slide--artistes .slide--artistes--button#prev:after {
  content: "<";
}
#slide--artistes .slide--artistes--button#prev:after {
  left: 70%;
}
#slide--artistes .slide--artistes--button#prev:hover:before {
  left: 30%;
}
#slide--artistes .slide--artiste {
  --slides-height: 347px;
  transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
  width: auto;
  height: var(--slides-height);
  padding: 0 10vw;
  font-size: 0;
  white-space: nowrap;
  -webkit-transform: translate3D(calc(var(--page) * -80vw), 0, 0);
  transform: translate3D(calc(var(--page) * -80vw), 0, 0);
}
#slide--artistes .slide--artiste--item {
  background-color: #0D0D0D;
  background-size: cover;
  background-position: center;
  display: inline-block;
  font-size: 1.5vw;
  height: var(--slides-height);
  padding: 25px;
  position: relative;
  transition: all 600ms ease-in-out;
  vertical-align: top;
  white-space: normal;
  width: 230px;
  word-break: break-word;
}
#slide--artistes .slide--artiste--item--background {
  height: auto;
  position: absolute;
  width: 230px;
  bottom: 0;
  right: 0;
}
#slide--artistes .slide--artiste--item--name {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
#slide--artistes .slide--artiste--item--text {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
#slide--artistes .slide--artiste--item--body, #slide--artistes .slide--artiste--item--body--terms, #slide--artistes .slide--artiste--item--body--btn {
  transition: 500ms cubic-bezier(0.7, 0, 0.3, 1);
}
#slide--artistes .slide--artiste--item--body {
  position: absolute;
  bottom: 25px;
}
#slide--artistes .slide--artiste--item--body--terms {
  bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  position: relative;
}
#slide--artistes .slide--artiste--item--body--terms:before {
  content: "";
  background-color: #f0f0f0;
  display: block;
  height: 2px;
  margin-bottom: 15px;
  width: 17px;
}
#slide--artistes .slide--artiste--item--body--btn {
  bottom: -2em;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-delay: 25ms;
}
#slide--artistes .slide--artiste--item:before {
  content: "";
  background: linear-gradient(180deg, rgba(86, 97, 108, 0) 0%, rgba(33, 52, 69, 0.7) 100%);
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#slide--artistes .slide--artiste--item:hover {
  background-color: #F26E50;
  transition: all 600ms ease-in-out;
}
#slide--artistes .slide--artiste--item:hover .slide--artiste--item--body--terms {
  transition-delay: 100ms;
  bottom: 3.5em;
}
#slide--artistes .slide--artiste--item:hover .slide--artiste--item--body--btn {
  bottom: 0;
  opacity: 1;
  transition-delay: 200ms;
  pointer-events: auto;
}

.contact--form--title {
  color: #F26E50;
  font-size: 34px;
  line-height: 40px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}
.contact--form--body input {
  border: none;
  height: 30px;
  margin-bottom: 15px;
  width: 73%;
}
.contact--form--body textarea {
  border: none;
  height: 60px;
  width: 73%;
}
.contact--form--body .btn {
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #F26E50;
  height: 44px;
  margin-left: auto;
  margin-right: 13%;
  width: 95px;
}
.contact--form--body .ajax-loader {
  position: absolute !important;
  bottom: 35px;
}

.row {
  display: flex;
}

.grid {
  display: grid;
  overflow: hidden;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
}

.grid1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid12 {
  grid-template-columns: repeat(12, 1fr);
}

.col1 {
  flex-basis: 8.3333333333%;
  box-sizing: border-box;
}

.col2 {
  flex-basis: 16.6666666667%;
  box-sizing: border-box;
}

.col3 {
  flex-basis: 25%;
  box-sizing: border-box;
}

.col4 {
  flex-basis: 33.3333333333%;
  box-sizing: border-box;
}

.col5 {
  flex-basis: 41.6666666667%;
  box-sizing: border-box;
}

.col6 {
  flex-basis: 50%;
  box-sizing: border-box;
}

.col7 {
  flex-basis: 58.3333333333%;
  box-sizing: border-box;
}

.col8 {
  flex-basis: 66.6666666667%;
  box-sizing: border-box;
}

.col9 {
  flex-basis: 75%;
  box-sizing: border-box;
}

.col10 {
  flex-basis: 83.3333333333%;
  box-sizing: border-box;
}

.col11 {
  flex-basis: 91.6666666667%;
  box-sizing: border-box;
}

.col12 {
  flex-basis: 100%;
  box-sizing: border-box;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

@media screen and (max-width: 768px) {
  .row.column-sm {
    flex-direction: column;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }
}
#loading {
  align-items: center;
  background-color: #F26E50;
  display: flex;
  flex-flow: wrap;
  height: 100%;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#loading .loading--audio, #loading .loading--title {
  font-size: 45px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  margin: 10px;
}
#loading .loading--break {
  width: 100%;
}
#loading .audio-wrapper {
  display: flex;
  align-items: flex-end;
  height: 35px;
  justify-content: center;
  transform: scale(2.5);
}
#loading .audio-wrapper:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  color: white;
  font-weight: bold;
}
#loading [class^="bar bar-"] {
  background-color: #edbbb2;
  width: 4px;
  margin: 0 1px;
  border-radius: 3px;
}
#loading [class^="bar bar-"].bar-3 {
  background-color: white;
}
#loading .regular [class^="bar bar-"] {
  animation: lineWave 0.6s both infinite alternate;
}
@keyframes lineWave {
  from {
    height: 5px;
  }
  to {
    height: 20px;
  }
}
#loading .regular .bar-2 {
  animation-delay: 0.2s;
}
#loading .regular .bar-3 {
  animation-delay: 0.35s;
}
#loading .regular .bar-4 {
  animation-delay: 0.5s;
}
#loading .regular .bar-5 {
  animation-delay: 0.65s;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #F26E50;
  width: 100%;
  height: 100%;
  transform: scaleY(0) skewX(0);
  transform-origin: top left;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

@keyframes slideLR {
  0% {
    transform: translateX(-500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideRL {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.animation #template-projects .page--content--banner--title.title {
  animation: slideLR 0.8s ease forwards 0.5s;
}
.animation #projects {
  animation: slideUp 1.2s ease forwards 1s;
}

.lakrypte--block--spotify--content--media {
  height: 100%;
  object-fit: cover;
  margin: 0 0 -4px 0;
  max-height: 50%;
  width: 100%;
}
.lakrypte--block--spotify--content--spotify {
  height: 100%;
  width: 101%;
}
.lakrypte--block--spotify--content--background {
  height: 100%;
  position: relative;
  width: 100%;
}
.lakrypte--block--spotify--content--background:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(56, 88, 96, 0.75);
}
.lakrypte--block--spotify--content--background--media {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.b6 {
  min-height: 175px !important;
}

.b5 {
  min-width: 175px !important;
}

.ax {
  height: 175px !important;
}

.aw {
  width: 175px !important;
}

.lakrypte--block--rs {
  padding: 45px 15px 35px;
}
.lakrypte--block--rs--content {
  text-align: center;
}
.lakrypte--block--rs--content .title {
  margin: auto;
}
.lakrypte--block--rs--content--list {
  margin-top: 20px;
}
.lakrypte--block--rs--content--list--item {
  margin: auto 7px;
}
.lakrypte--block--rs--content--list--item .dashicons {
  color: #f0f0f0;
  font-size: 30px;
  height: auto;
  text-decoration: none;
  width: auto;
}
.lakrypte--block--rs--content--list--item .dashicons:after {
  border-bottom: 3px solid #f0f0f0;
  content: "";
  display: block;
  margin: 0.25em auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}
.lakrypte--block--rs--content--list--item .dashicons:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 75%;
}
.lakrypte--block--rs--content--list--item .dashicons-facebook-alt:hover {
  color: #3b5998;
}
.lakrypte--block--rs--content--list--item .dashicons-facebook-alt:after {
  border-bottom-color: #3b5998;
}
.lakrypte--block--rs--content--list--item .dashicons-instagram:hover {
  color: #bc1888;
}
.lakrypte--block--rs--content--list--item .dashicons-instagram:after {
  border-bottom-color: #bc1888;
}
.lakrypte--block--rs--content--list--item .dashicons-youtube:hover {
  color: #c4302b;
}
.lakrypte--block--rs--content--list--item .dashicons-youtube:after {
  border-bottom-color: #c4302b;
}
.lakrypte--block--rs--content--list--item .dashicons-spotify:hover {
  color: #81b71a;
}
.lakrypte--block--rs--content--list--item .dashicons-spotify:after {
  border-bottom-color: #81b71a;
}
.lakrypte--block--rs--content--list--item .dashicons-soundcloud:hover {
  color: #ff7700;
}
.lakrypte--block--rs--content--list--item .dashicons-soundcloud:after {
  border-bottom-color: #ff7700;
}

.lakrypte--block--text--media {
  min-height: 45vw;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 20vw;
}
.lakrypte--block--text--media--background {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
  height: 100%;
  object-fit: cover;
}
.lakrypte--block--text--media--content {
  max-width: 25vw;
}
.lakrypte--block--text--media--content .title {
  text-transform: uppercase;
}
.lakrypte--block--text--media--content .title:before {
  content: "";
  background: #F26E50;
  display: block;
  height: 15vw;
  position: absolute;
  width: 8vw;
  z-index: -1;
  left: 15vw;
  top: 3vw;
}
.lakrypte--block--text--media--content .btn {
  margin-top: 3vw;
}

.wp-playlist.wp-audio-playlist {
  background-color: #403F3F;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding-top: 5vw;
  position: relative;
  width: calc(100% - 20vw);
}
.wp-playlist.wp-audio-playlist .wp-playlist-current-item {
  overflow: inherit;
  width: 100%;
}
.wp-playlist.wp-audio-playlist .wp-playlist-current-item img {
  height: 28vw;
  margin: auto;
  max-width: initial;
  position: absolute;
  bottom: -4vw;
  left: -5vw;
  top: 0;
  width: auto;
  z-index: 8;
}
.wp-playlist.wp-audio-playlist .wp-playlist-caption {
  max-width: 100%;
}
.wp-playlist.wp-audio-playlist .wp-playlist-caption:before {
  content: "";
  background-color: #F26E50;
  height: 10vw;
  position: absolute;
  width: 5vw;
  z-index: 9;
}
.wp-playlist.wp-audio-playlist .wp-playlist-item-album {
  color: #f0f0f0;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 3vw;
  margin: 0.5vw auto auto 3vw;
  max-width: 35vw;
  position: relative;
  text-transform: uppercase;
  white-space: break-spaces;
  z-index: 10;
}
.wp-playlist.wp-audio-playlist .mejs-container {
  align-items: center;
  background: #F26E50;
  border-radius: 50%;
  display: flex;
  height: 20vw !important;
  justify-content: center;
  margin-top: 10vw;
  margin-right: 0;
  margin-bottom: 10vw;
  margin-left: 26vw;
  width: 20vw !important;
  z-index: 10;
}
.wp-playlist.wp-audio-playlist .mejs-container .mejs-inner {
  width: 19vw;
  height: 19vw;
  background: radial-gradient(133.73% 133.73% at 50% 50%, #0D0D0D 0%, rgba(13, 13, 13, 0) 100%);
  border: 2px solid rgba(13, 13, 13, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wp-playlist.wp-audio-playlist .mejs-container .mejs-mediaelement,
.wp-playlist.wp-audio-playlist .mejs-container .mejs-layers {
  display: none;
}
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls {
  display: contents;
}
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls .mejs-playpause-button {
  background: #F26E50;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 5vw;
}
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls .mejs-playpause-button:after {
  content: "";
  width: 13vw;
  height: 0;
  border-bottom: 2px solid #f0f0f0;
  display: inline-block;
  margin-bottom: 4px;
  position: absolute;
  right: -7vw;
}
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls .mejs-time,
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls .mejs-time-rail,
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls .mejs-volume-button,
.wp-playlist.wp-audio-playlist .mejs-container .mejs-controls .mejs-horizontal-volume-slider {
  display: none;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks {
  margin: auto auto auto 8vw;
  z-index: 1;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item {
  border-bottom: none;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item.wp-playlist-playing {
  background: none;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item.wp-playlist-playing .wp-playlist-caption {
  color: #f0f0f0 !important;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item.wp-playlist-playing .wp-playlist-caption:before {
  width: 2vw;
  transition: width 100ms ease-in-out 0s;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item .wp-playlist-caption {
  align-items: center;
  display: flex;
  color: #595859;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item .wp-playlist-caption:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 2px solid #f0f0f0;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  transition: width 250ms ease-in-out 0s;
}
.wp-playlist.wp-audio-playlist .wp-playlist-tracks .wp-playlist-item .wp-playlist-caption .wp-playlist-item-title {
  font-weight: bold;
  font-size: 1.4vw;
  line-height: 2vw;
  overflow: initial;
  text-transform: uppercase;
}

.artiste--header {
  height: 45vw;
  position: relative;
  max-width: 1440px;
  margin: auto;
}
.artiste--header:before {
  content: "";
  width: 20vw;
  height: 8vw;
  background-color: #F26E50;
  position: absolute;
  top: 12vw;
  left: 0;
}
.artiste--header:after {
  content: "";
  width: 10vw;
  height: 20vw;
  background-color: #F26E50;
  position: absolute;
  right: 28vw;
  bottom: 0;
}
.artiste--header--name {
  position: absolute;
  left: 12vw;
  top: 0;
  bottom: 0;
  color: #0D0D0D;
  height: fit-content;
  line-height: 61px;
  margin: auto;
  text-transform: uppercase;
  width: fit-content;
  z-index: 2;
}
.artiste--header--thumbnail {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 35vw;
  z-index: 1;
}

#template-homepage .page--body {
  position: initial;
  width: 100%;
}
#template-homepage .page--body--header {
  height: 100vh;
}
#template-homepage .page--body--thumbnail {
  max-height: 770px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.article--content--banner {
  min-height: 400px;
  height: 30vw;
  position: relative;
}
.article--content--banner--title {
  color: #F26E50;
  margin: auto;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 25%;
}
.article--content--banner--thumbnail {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}
.article--content--body .wp-block-group {
  max-width: 1330px;
  margin: auto;
  padding: 3vw 5vw;
}

#template-membres .page--body--thumbnail {
  max-height: 900px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

#template-projects .page--content--banner {
  min-height: 400px;
  height: 30vw;
  position: relative;
}
#template-projects .page--content--banner--title {
  color: #F26E50;
  margin: auto;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 25%;
  transform: translateX(-500vw);
}
#template-projects .page--content--banner--thumbnail {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}
#template-projects .page--content--body .wp-block-group {
  max-width: 1330px;
  margin: auto;
  padding: 3vw 5vw;
}

#projects {
  padding: 3vw 5vw;
  transform: translateY(500vw);
}
#projects .project--item {
  padding: 4vw 0 8vw;
}
#projects .project--item .row {
  align-items: center;
}
#projects .project--item--content {
  padding: 0 4vw;
}
#projects .project--item--content--name {
  margin: auto;
  text-transform: uppercase;
}
#projects .project--item--content--text {
  text-align: justify;
}
#projects .project--item--content--name, #projects .project--item--content--text {
  color: #0D0D0D;
}
#projects .project--item--img {
  text-align: center;
  position: relative;
}
#projects .project--item--img--thumbnail {
  position: relative;
  width: 80%;
}
#projects .project--item--img--thumbnail--supp {
  position: absolute;
  max-width: 40%;
  bottom: -25%;
  left: 2%;
}
#projects .project--item--img--thumbnail--supp:first-child {
  max-width: 30%;
  bottom: -10%;
  right: 6%;
  left: auto;
  z-index: 2;
}
#projects .project--item--name {
  margin: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: auto;
}

.content {
  margin: auto;
  max-width: 1330px;
}

/*# sourceMappingURL=style.css.map */
